.info-actions {
    margin: 1em;

    width: 75%;

    >fieldset {
        position: relative;

        padding: 0.5em 0.5em;
        padding-block-start: 1em;

        width: 560px;

        border-radius: 5px;

        >legend {
            position: absolute;
            padding: 0 1em;

            left: 10%;
            top: -0.66em;

            font-size: 1.2em;
            font-weight: 500;

            background-color: white;
        }

        >form>div {
            >input {
                padding-inline-start: 0.5em;
    
                height: 30px;
    
                background-color: hsl(0, 0%, 96%);
                border-radius: 3px;
                border: 2px solid hsl(0, 0%, 75%);
    
                font-family: Roboto;
                font-weight: 500;
    
                outline: none;
    
                transition: background-color 200ms;
    
                &:hover,
                &:focus {
                    background-color: hsl(0, 0%, 100%);
                }
            }
    
            >label {
                margin-inline: 1em;
                margin-inline-end: 0.5em;
    
                font-size: 1.2em;
                font-weight: 500;
            }
    
            button {
                margin-inline-start: 2em;
            }
        }
    }
}

.MuiSlider-root {
    margin: 0 1em;
}
